
html,body{
	font-family: 'Gloria Hallelujah', cursive !important;
}

.nav-link{
	color: black;
}
.nav-link:hover{
	color: #ff91de;
	border-bottom: 2px solid #ff91de;
}
.nav-link.active{
    color: #ff91de;
}
header{
	background-color:white;
	height: 190px;
}
.top-nav.collapse{
    background-color: red;
}
.header-top{
	background-color: #ffdff6;
}
.color-fondo-1{
	background-color: white;
}
.color-fondo-2{
	background-color: #ff07b9;
}
.novedades img:hover{
	-webkit-transform: scale(1.1);
	-webkit-transition: 0.5s;
	cursor:pointer;
}
.contenedor-q{
	background:transparent url('img/laratitapresumida2.jpg') no-repeat;
	height: 560px;
}
.btn-ultimas-novedades{
	height: 300px;
}
#ult-nov-1{
	background:transparent url('img/ultnovedades1.png') no-repeat center;
}
#ult-nov-2{
	background:transparent url('img/ultnovedades2.jpg') no-repeat center;
}
/*#ult-nov-3{
	background:transparent url('img/ultnovedades3.jpg') no-repeat center;
	}*/
	.tit{
		width: 75%;
	}
	#ult-nov-3 img:hover{
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		transition: 0.5s;
		-webkit-transition: 0.5s;
	}
	#ult-nov-3 img{
		width: 100%;
		height: auto;
		position: relative;
		overflow: hidden;
	}
	.contenedor-oscuro{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 900;
		background: rgba(0,0,0,0.2);
	}
	.contenedor-titulo{
		position:absolute;
	}


	.block-two-1 {
		background: rgba(42, 128, 68, 0.6);
	}
	.block-two-1 {
		position: relative;
		overflow: hidden;
	}
	.block-two-1 img {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		transition: 0.5s;
		-webkit-transition: 0.5s;
		width: 100%;
		height: auto;
	}
	.block-two-1:hover img{transform:scale(1);-webkit-transform:scale(1)}
	.content-block-two-1 {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		width: 100%;
		text-align: center;
		z-index: 901;
	}
	.text-block-two-1 {
		font-size: 24px;
		margin: 0 !important;
		line-height: 26px;
		text-transform: none;
		font-weight: 600 !important;
		text-transform: uppercase;
		color: #fff!important;
		letter-spacing: 3px;
		font-size: 24px;
		font-weight: bold;
	}
	.text-block-two-1 a{
		color:white;

	}
	.contenedor-oscurecedor {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 900;
		background: rgba(0,0,0,0.2);
	}
	.row::before{
		display: table;
		content: " ";
	}
	 .block-two-1:hover img{opacity:0.7}
